* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  margin: 0; }

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
  min-width: 20%;
  background-color: #c1aae8; }

h1 {
  font-family: "Ubuntu", sans-serif;
  padding-left: 2em; }

.imgMenu {
  width: 4em;
  height: 4em; }

li {
  list-style: none;
  padding-top: 2em; }

a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Ubuntu", sans-serif;
  text-decoration: none;
  color: black;
  margin-right: 1em; }

img {
  width: 2em;
  height: 2em; }

.btnOpenMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  width: 4em;
  background-color: #c1aae8;
  margin-right: 4em; }

#myMenuMobile {
  position: absolute;
  right: 0;
  display: none;
  opacity: 1;
  width: 200px;
  margin-top: 0;
  background-color: #6b3de8;
  background: -webkit-gradient(linear, left top, left bottom, from(#c1aae8), to(#6b3de8));
  background: linear-gradient(#c1aae8, #6b3de8); }

.menuComputer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-right: 4em;
  list-style: none; }

.menuComputer {
  display: none; }

@media screen and (min-device-width: 800px) {
  .btnOpenMenu {
    display: none; }

  #myMenuMobile {
    opacity: 0; }

  .menuComputer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
@-webkit-keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
            transform: translate3d(0, -3000px, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
            transform: translate3d(0, 25px, 0); }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0); }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0); }
  to {
    -webkit-transform: none;
            transform: none; } }
@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
            transform: translate3d(0, -3000px, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
            transform: translate3d(0, 25px, 0); }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0); }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0); }
  to {
    -webkit-transform: none;
            transform: none; } }
.bounceInDown {
  -webkit-animation-name: bounceInDown;
          animation-name: bounceInDown;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s; }

/*# sourceMappingURL=index.css.map */
